.App {
  text-align: center;
}


.par {
  background-color: #e9ecf1;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 48, 74);
}
